<<
@configure
  connected: true
  scripts:[
    "studentid"
  ]
>>

<< extend "templates/master.ect" >>

<< block "init": >>

{% if aek.action == "get-id" %}
    {% set utils = aek.extension("CMAuthUtilities") %}
    {% set attrs = utils.getTokenAttributes() %}

    {% if attrs.username %}

      {% set service = aek.create_service("https://ds-wodsapi-prod.its.waikato.ac.nz/campusm/api/StudentIDCards/" ~ attrs.username) %}
      {{ service.set_namespace("") }}
      {{ service.set_method("GET") }}

      {{ service.set_header("Content-Type", "application/json") }}
      {{ service.set_authorization("Bearer Q2FtcHVzTTo4S09hbE4zRm9ZbmRFZmJy") }}
      
      {{ aek.respond(service.json) }}
  
  {% endif %}
{% endif %}

<< end >>
 