<!DOCTYPE html>

  {{ aek.set_aek_version("2.0") }}
  {{ aek.set_header_text('') }}

  {% set email = aek.campusm_user_email %}


{% if aek.action == "get-id" %}
    {% set utils = aek.extension("CMAuthUtilities") %}
    {% set attrs = utils.getTokenAttributes() %}

    {% if attrs.username %}

      {% set service = aek.create_service("https://ds-wodsapi-prod.its.waikato.ac.nz/campusm/api/StudentIDCards/" ~ attrs.username) %}
      {{ service.set_namespace("") }}
      {{ service.set_method("GET") }}

      {{ service.set_header("Content-Type", "application/json") }}
      {{ service.set_authorization("Bearer Q2FtcHVzTTo4S09hbE4zRm9ZbmRFZmJy") }}
      
      {{ aek.respond(service.json) }}
  
  {% endif %}
{% endif %}


<html lang="en" data-aek-package="[[__package_data__]]" data-public-assets="[[__public_assets__]]" data-env="prod" data-platform="{{ aek.get_platform() }}" >
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  </head>

<body  >

  
  <script>

    !function(e){function o(n){if(t[n])return t[n].exports;var s=t[n]={exports:{},id:n,loaded:!1};return e[n].call(s.exports,s,s.exports,o),s.loaded=!0,s.exports}var t={};return o.m=e,o.c=t,o.p="/public/js/",o(0)}([function(e,o,t){"use strict";!function(){window.loadCampusmAssetStore=function(e,o){o||(o="0.0.8");var t,n=function(){e&&e(window.CampusM.assetStore)};try{t=JSON.parse(window.localStorage.__campusmAssetStore)}catch(s){}if(t&&t.version>=o)new Function(t.code)(),n();else{var r=document.createElement("script");r.onload=n,r.onError=function(){t?(console.warn("AssetStore: Unable to fetch minimum version "+t.version+" instead"),new Function(t.code)(),n()):console.error("AssetStore: unable to initialise AssetStore")},r.src="https://portal.ombiel.co.uk/assets/aek/aek-asset-store/"+o+"/loader.js",document.head.appendChild(r)}}}()}]);
    loadCampusmAssetStore(function(assetStore) {

      var scripts = ["studentid"];
      scripts = scripts.map(function(s) {return s.match(/^(https?:\/)?\//) && s || "[[__public_assets__]]/"+s+".js"});

      assetStore.fetchAssets(scripts);
      assetStore.loadJS(scripts);
    });

    var email = "{{email}}";
  </script>

</body>
</html>
